<% if @lists.size > 0 %>
    <h1>Showable Lists</h1>
    <ul>
      <% @lists.each do |l| %>
          <li>
            <a href=""><%= l.name %></a>
            <% if l.created_by?(current_user) %>
                <% if l.public %>
                    <a href="">Make Private</a>
                <% else %>
                    <a href="">Make Public</a>
                <% end %>
            <% end %>
            <% if current_user.favorited?(l) %>
                <a href="">Remove favorite</a>
            <% else %>
                <a href="">Favorite</a>
            <% end %>
          </li>
      <% end %>
    </ul>
<% else %>
    <p>No lists to show</p>
<% end %>